[Unit]
Description=Domain exporter service
After=network.target

[Service]
User={{ domain_exporter_user }}
Group={{ domain_exporter_user }}
ExecStart=/usr/local/bin/domain_exporter -b '{{ domain_exporter_host_address }}:{{ domain_exporter_host_port }}'
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true
Restart=on-failure
NoNewPrivileges=yes

[Install]
WantedBy=multi-user.target
